img {
    width: 100%;
    height: auto;
}

.story-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;

}

.right-column,
.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


p {
    line-height: 1.5;
    font-size: 18px;
}

p + p {
    margin-top: 2em;
}

h2 + p {
    font-weight: bolder;
}

h2 + p::first-letter {
    color: red;
    font-size: 38px;
}

p:nth-child(3n) {
    font-style:italic;
    color: blue;
}

p:nth-child(5n) {
    color:lightsalmon;
}