* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color:rgba(0, 0, 0, 0.856);
}

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 2px black;
    background-color:black;
}

header h1 {
    color:rgba(255, 255, 255, 0.781);
    margin-left: 25px;
    text-transform:capitalize;
    margin-top: 8px;
}

a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
    background-color:#401F32;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 5px;
}

a:hover {
    background-color:rgba(255, 0, 0, 0.658);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.856);;
}

