@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 2px black;
    background-color:black;
    position: sticky;
    top: 0;
}

header h1 {
    color:rgba(255, 255, 255, 0.781);
    margin-left: 3vmax;
    text-transform:capitalize;
    margin-top: 0.5vmax;
    font-size: 200%;
}

a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
    background-color:#401F32;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 5px;
}

a:hover {
    background-color:rgba(255, 0, 0, 0.658);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

h2 {
   margin-top: 8vmax;
   margin-left: 6vmax;
   font-size: 5vmax;
   color: rgba(255, 255, 255, 0.856);
}

h3 {
    margin-top: 10px;
    margin-left: 170px;
    font-size: 2vmax;
    color:rgba(255, 255, 255, 0.856);
}

img {
    width: 100%;
    height: auto;
}

p {
    color: white;
    font-family: 'Caveat', cursive;
    margin-top: 10px;
    font-size: 2vmax;
}

.hr1{
    margin-top: 380px;
}

.Background1{
    background-image: url('darkforest.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 400px;
}

.spaceimg {
    color: black;
}

.story {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: black;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    background-color: black;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    background-color: black;
}

.mid-column {
    background-color: black;
}

.HeadlineText {
    color: rgba(255, 255, 255, 0.781);
    font-size: 3vmax;
    margin-left: 6vmax;
}

.protagonist{
    color: red;
}
 
.protagonist-Historia {
    color: rgb(245, 122, 122);
}
 
.Brother {
    color: greenyellow;
}
 
.slut {
    color: rgba(255, 255, 255, 0.781);
    margin-left: 50px;
    margin-bottom: 20px;
}
